.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 0 1em;
  letter-spacing: 0.05em;
  line-height: 2em;
  text-align: center;

  ul,
  li {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}
