.index-page {
  display: flex;
  border: 1px solid red;
  justify-content: space-around;
  max-width: 1000px;
  margin: 0 auto;
  nav.sidebar {
    border: 1px solid red;
  }
  .post-list {
    border: 1px solid red;
  }
}
