$fontBase: 16px;
$fontMultiplier: 1.5;

$biggest: $fontBase * $fontMultiplier * $fontMultiplier;
$biggestLineHeight: $fontBase * $fontMultiplier * $fontMultiplier *
  $fontMultiplier * $fontMultiplier;

@font-face {
  font-family: "Museo Sans W01_100";
  src: url("/Fonts/905294/e14e9fd6-0631-4491-b873-211c7b6f926c.eot?#iefix");
  src: url("/Fonts/905294/e14e9fd6-0631-4491-b873-211c7b6f926c.eot?#iefix")
      format("eot"),
    url("/Fonts/905294/fd9d5b5d-71c1-4db0-bf20-cd7e3ce4d069.woff2")
      format("woff2"),
    url("/Fonts/905294/e976d680-12b6-411e-9f79-0ef9287f484d.woff")
      format("woff"),
    url("/Fonts/905294/81780024-f1ae-4135-a0ae-d0bab2c19986.ttf")
      format("truetype");
}

.typography {
  font-family: "Museo Sans W01_100", serif;
  color: #444;

  h1,
  h2,
  h3,
  h4 {
    font-weight: normal;
  }

  a {
    color: #444;
  }

  .biggest,
  h1 {
    font-size: $biggest;
    line-height: $biggestLineHeight;
    color: #666;
  }

  .big,
  h2 {
    font-size: $fontBase * $fontMultiplier;
    line-height: $fontBase * $fontMultiplier * $fontMultiplier;
  }

  .normal,
  p {
    font-size: $fontBase;
    line-height: $fontBase * $fontMultiplier;
    letter-spacing: 0.02em;
    p {
      margin: $fontBase * $fontMultiplier 0;
    }
  }

  .small {
    font-size: $fontBase / $fontMultiplier;
  }
  img {
    width: 100%;
  }
}
