.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  max-width: 600px;
  margin: 0 auto;
  h1 {
    margin: 0;
    a {
      text-decoration: none;
      color: #888;
    }
  }
  p {
    margin: 0;
  }
  @media (max-width: 550px) {
    h1.biggest {
      font-size: 2rem;
    }
  }
  @media (max-width: 460px) {
    padding-top: 2rem;
    h1.biggest {
      font-size: 1.5rem;
      margin-right: 3rem;
      line-height: 2rem;
    }
  }
}
