header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  a {
    text-decoration: none;
    color: #222;
  }
  h1 {
    margin: 0;
  }
  p {
    margin: 0;
  }
}
