.carousel {
  div.slide {
    width: 800px;
    height: 800px;
    background: white;
    img {
      width: auto;
      height: auto;
      max-width: 98%;
      max-height: 100%;
      margin: 0 auto;
      display: block;
      :active {
        border: none;
      }
    }
  }
}
