.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #444;
  color: white;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 20px;
  font-size: 0.8rem;
  i,
  span {
    display: block;
  }
  i {
    font-size: 0.75rem;
  }
}
