* {
  scroll-behavior: smooth;
}

body {
  font-family: "futura", "HelveticaNeue-Light", "Helvetica Neue Light",
    "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  font-size: 16px;
  margin: 0;
  color: #222;
}

.content {
  padding: 1rem;
}

a {
  color: #222;
  text-decoration: none;
}

h1,
h2,
h3 {
  font-size: 1em;
  font-weight: normal;
}
