@font-face {
  font-family: "Museo Sans W01_100";
  src: url("/fonts/905294/e14e9fd6-0631-4491-b873-211c7b6f926c.eot?#iefix");
  src: url("/fonts/905294/e14e9fd6-0631-4491-b873-211c7b6f926c.eot?#iefix")
      format("eot"),
    url("/fonts/905294/fd9d5b5d-71c1-4db0-bf20-cd7e3ce4d069.woff2")
      format("woff2"),
    url("/fonts/905294/e976d680-12b6-411e-9f79-0ef9287f484d.woff")
      format("woff"),
    url("/fonts/905294/81780024-f1ae-4135-a0ae-d0bab2c19986.ttf")
      format("truetype");
}

html,
body {
  padding: 0;
  margin: 0;

  font-family: "Museo Sans W01_100", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    color:#888;
  font-size:12px;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

* {
  box-sizing: border-box;
}
